@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.btn-primary{
    color: #ffffff;
    background-color: rgb(233, 160, 27);
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 1.25rem;
}

header{
    margin: 5px;
    padding:  20px 175px;
    background-color: rgba(255, 144, 14, 0.10);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
   

}
.nav-title{
    font-size: 2.50rem;
    color:  #131313;
}
nav > ul{
    display: flex;
    list-style: none;

    
}
nav > ul a{
    padding: 20px;
   color: #727272;
    text-decoration: none;
    font-size: 1.25rem;
}
/* banner section starts */
.banner-container{
   margin: auto;
   text-align: center;
   padding: 45px;
 
}
.banner-title{
    font-size: 3.45rem;
    font-weight: 700;
    color: #131313  ;
}
.banner-description{
    color: #727272;
    padding-top: 25px ;
    margin: 0px 30px;
}
.banner .btn-primary{
   margin: 20px;
}
.banner img{
    width: 100%;
}
/* main section starts */
/* teams starts */
.teams-container{
    display: flex;
    align-items: center;
    gap: 40px;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    padding-top: 50px ;
    margin-left: 10px;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.50rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    padding: 20px 0px;
}
/* feature section starts */
.feature{
    display: flex;
    margin-top: 80px;


    /* margin: 40px 10px; */
    padding-left: 20px;
}
.feature-text-container{
    padding-right: 100px;
}
.section-title{
    font-size: 2.50rem;
}
.feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}
.feature-description{
    color: #727272;
    padding: 30px 0px;
}

.feature-box{
    box-shadow: 5px 5px 10px #27272772;
    margin: 30px 15px;
    padding: 30px;
   
}
.experience{
    width: 50%;
    color: #ffffff;
    background-color: #FF900E;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: -70px;
    left: -50px;
    
}
.experience-title{
    font-size: 3.50rem;
    padding-bottom: 30px;
}
/* fact section starts */
.facts{
    margin: 30px 10px;
}

.fact-description{
    padding-top: 30px;
    color: #727272;
}
.card-section{
    display: flex;
    width: 80%;
    margin: auto;
   justify-content: space-around;
   padding-top: 10px;
   
}
.card{
    border: 2px solid tomato;
    border-radius: 5px;
    text-align: center;
    padding: 45px;
   

  
}
.card .card-stat{
    font-size: 2.25rem;
    color: #727272;
    padding: 10px;
}
.card .card-description{
    font-size: 1.20rem;
    color: #727272;
}

/* sponsors section starts */
.sponsors{
   text-align: center;
  
    /* margin: 80px; */
}
.sponsors-description{
    color: #727272;
    padding: 40px 0px;
}

.sponsors-container{
    display: flex;
    justify-content: space-around;
   padding-bottom: 80px;
}

/* media query */
/* small device */
@media screen and (max-width:576px){
    header{
        padding: 10px;
    }
    nav{
        margin:10px;
       
    }
    .nav-title{
        font-size: 1.30rem;
    }
    nav > ul a{
        padding: 10px;
        font-size: 1rem;
    }
    .banner-container{
        padding: 20px;
    }
    .banner-description{
        font-size: 14px;
        padding-top: 12px;
    }
    
    .banner-title{
        font-size: 1.75rem;
    }
    .btn-primary{
        font-size: 14px;
        margin: 10px;
        padding: 8px 12px;
    }
    /* teams section starts */
    .teams-container{
        flex-direction: column;
        gap: 16px;
    }
    .teams-img-container{
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
        padding-top: 10px ;
        padding-left: 28px;
    }
    .teams-img-container img{
        width: 80%;
        /* padding-bottom: 10px; */
        margin: auto;
      
        
    }
    .teams-content{
        text-align: center;
        font-size: 14px;
    }
    .teams-description{
        padding: 10px 0px;
    }
    /* feature section starts */
    .feature{
        flex-direction: column;
        /* margin: 30px 10px; */
        
    }
    .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: auto;
    }
    .feature-description{
        font-size: 14px;
        padding: 10px 0px ;
    }
    .feature-box{
        margin: 15px 6px;
        padding: 22px ;
    }
    .feature-text-container{
        padding-right: 50px;
    }
    .feature-img-container img{
        width: 100%;
        height: 70%;
       
    }
    .feature-img-container{
        margin-left: 40px;
    }
    .experience{
        padding: 20px;
        
    }
    .experience-title{
        font-size: 2rem;
        padding-bottom: 15px;
    }
    /* facts section starts */
    .fact-description{
        font-size: 14px;
        padding-top: 15px;
    }
    .card{
       padding: 10px;
      justify-content: space-around;
     
      
    }
    .card .card-stat{
        font-size: 20px;

    }
    .card-section{
         width: 70%;
         padding-top: 10px;
         gap: 2.25rem;
        
    }
    .card .card-description{
        font-size: 16px;
    }
    /* sponsor section starts */
    .sponsors-description{
        padding: 20px 5px;
    }
    .sponsors-container{
        flex-direction: column;
        padding-bottom: 40px;
        gap: 18px;
    }
}