@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.btn-primary{
    color: #ffffff;
    background-color: rgb(233, 160, 27);
    padding: 15px 20px;
    font-size: 1.25rem;
}
header{
    padding: 50px 175px;
    background-color: rgba(255, 144, 14, 0.10);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 40px;

}
.nav-title{
    font-size: 2.50rem;
    color:  #131313;
}
nav > ul{
    display: flex;
    list-style: none;

    
}
nav > ul a{
    padding: 20px;
   color: #727272;
    text-decoration: none;
    font-size: 1.25rem;
}
/* banner section starts */
.banner{
   margin: auto;
   text-align: center;
   padding: 45px;
 
}
.banner-title{
    font-size: 3.45rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    padding-top: 25px ;
    margin: 0px 30px;
}
.banner .btn-primary{
   margin: 16px;
}
.banner img{
    width: 100%;
}
